body {
  color : #35B2EB;
  background-color: #6e6c73;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}

Ul {
  font-weight: 150;
}
